@import '../../styles/animations';
@import '../../styles/variables';

.container {
    position: relative;

    & img {
        opacity: 0;
    }

    &.loaded {
        & img {
            animation: fadeIn .5s .5s forwards;
        }
    }
}

.spinner {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.loaded .spinner {
    animation: fadeOut .5s forwards;
}
