@import "../../styles/animations";
@import "../../styles/variables";

.content {
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
}

.innerContent {
    padding: 2rem 4.5rem 5rem;

    @media (min-width: 850px) {
        padding-top: 5rem;
        padding-bottom: 5rem;
    }
}

.avatarContainer {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 3rem;

    @media (min-width: 850px) {
        position: fixed;
        z-index: 1;
        width: 700px;
        left: -200px;
        bottom: 0;
        margin-bottom: 0;
    }
}

.avatar {
    transition: transform .5s $smooth-cubic-bezier;
    width: 20rem;
    height: 20rem;

    @media (min-width: 600px) {
        width: 30rem;
        height: 30rem;
    }

    @media (min-width: 850px) {
        width: auto;
        height: auto;
        min-height: 400px;

        & img {
            border-radius: 0;
        }
    }
}

.employeeName {
    will-change: opacity;
    opacity: 0;
    font-family: 'Bebas Neue';
    font-size: 3.2rem;
    margin-bottom: .2rem;
    animation: fadeIn .5s ease-in .8s forwards;
}

.overview {
    opacity: 0;
    will-change: opacity;
    animation: fadeIn .5s ease-in 1s forwards;
}

.mainContent {
    max-width: $max-reading-width;

    @media (min-width: 600px) {
        padding-left: 0;
        position: relative;
        z-index: 2;
    }

    @media (min-width: 850px) {
        padding-left: 4rem;
        margin-left: 35rem;
    }
}

.overviewContainer {
    position: relative;
    min-height: 100px;
}