@import '../../styles/section';
@import '../../styles/section-title';
@import '../../styles/variables';
@import '../../styles/animations.css';

.section {
    @mixin section $dark-gray;
    color: #a3a3a3;
    opacity: 0;
    animation: tuckIn .5s $smooth-cubic-bezier .8s forwards;
}

.title {
    @mixin white-section-title;
    margin-top: 0;
}

.introductionContainer {
    display: flex;
    justify-content: center;
}

.introduction {
    max-width: $max-reading-width;
    margin-bottom: 4rem;
    color: #a3a3a3;
}