@import '../../styles/section';
@import '../../styles/section-title';
@import '../../styles/variables';

.section {
    @include section;
    background: $dark-gray;
    color: #a3a3a3;
}

.title {
    @include section-title;
    margin-top: 0;
    color: #fff;
}

.introductionContainer {
    display: flex;
    justify-content: center;
}

.introduction {
    max-width: $max-reading-width;
    margin-bottom: 4rem;
    color: #a3a3a3;
}