@import "./variables";

@define-mixin section-title {
    text-transform: uppercase;
    font: 6.4rem/6.4rem 'Bebas Neue';
    transition: font-size .25s ease-out;
    text-align: center;

    & + p {
        margin-top: .5rem;
    }

    @media (max-width: 600px) {
        font-size: 4.8rem;
        line-height: 4.8rem;
    }
}

@define-mixin white-section-title {
    @mixin section-title;
    color: #fff;
}

@define-mixin dark-section-title {
    @mixin section-title;
    position: relative;

    &:after {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        z-index: 1;
        background: linear-gradient(rgba(255, 255, 255, .25), rgba(255, 255, 255, 0));
    }
}
