@import '../../styles/animations';
@import "../../styles/variables";

:global {
    .no-scroll {
        height: 100%;
        overflow: hidden;
        width: 100%;
        position: fixed;
    }

    #mount {
        display: flex;
        flex-grow: 1;
    }

}

.app {
    display: flex;
    flex-grow: 1;
    -webkit-font-smoothing: antialiased;
    font: 1.4rem/2.4rem Helvetica;
    color: #333;
}

.content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 0;
    animation-timing-function: cubic-bezier(0.25,.46,.45,.94);
    animation-duration: 1s;
    width: 100%;
    top: 0;
    left: 0;
    padding-top: 8rem;
    box-sizing: border-box;
    position: relative;
    min-height: 100%;
    text-align: center;

    > * {
        animation: fadeIn .5s $smooth-cubic-bezier;
        flex-grow: 1;
        flex-shrink: 0;
    }
}
