@import '../../styles/section';
@import '../../styles/section-title';
@import '../../styles/variables';

.section {
    @include section;
    background-color: white;
    flex-shrink: 0;
}

.title {
    @include section-title;
    color: #424242;
    position: relative;
    text-align: center;
}

.introductionContainer {
    display: flex;
    justify-content: center;
}

.introduction {
    max-width: $max-reading-width;
    margin-bottom: 4rem;
}