@import '../../styles/animations';

.visible {
    @media (max-width: 600px) {
        display: flex;
        z-index: 1;
        animation: fadeIn .25s forwards;
        overflow: hidden;
    }
}

.navigation {
    display: flex;

    @media (max-width: 600px) {
        opacity: 0;
        z-index: -1;
        box-sizing: border-box;
        padding: 2rem;
        position: absolute;
        top: 100%;
        left: 0;
        background: rgba(0, 0, 0, .75);
        width: 100%;
        justify-content: space-between;
    }

    > :first-child {
        margin-left: 0;
    }
}
