@import '../../styles/animations.scss';

.navigation-active {
    @media (max-width: 600px) {
        display: flex;
        z-index: 1;
        animation: fadeIn .25s forwards;
    }
}

.navigation {
    display: flex;

    @media (max-width: 600px) {
        opacity: 0;
        z-index: -1;
        box-sizing: border-box;
        padding: 1.5rem 2rem;
        position: absolute;
        top: 100%;
        left: 0;
        background: rgba(0, 0, 0, .75);
        width: 100%;
        justify-content: space-between;
    }

    > :first-child {
        margin-left: 0;
    }
}

.link {
    color: #fff;
    text-transform: uppercase;
    margin-left: 3rem;
    font: 2.5rem/2.5rem 'Bebas Neue';
    position: relative;
    text-shadow: 0 .1rem #000;
    text-decoration: none;
    height: 18px;

    @media (max-width: 600px) {
        margin-left: 1rem;
    }
}