@keyframes :global(slideInUp) {
    from {
        transform: translate3d(0, 100%, 0);
        visibility: visible;
    }

    to {
        transform: translate3d(0, 0, 0);
    }
}

@keyframes :global(slideOutDown) {
    from {
        transform: translate3d(0, 0, 0);
    }

    to {
        visibility: hidden;
        transform: translate3d(0, 100%, 0);
    }
}

@keyframes :global(fadeIn) {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes :global(fadeOut) {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

:global {
    #mount.hide {
        display: none;
    }

    .modal {
        position: fixed;
        z-index: 10;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: white;
        animation-duration: .5s;
        animation-timing-function: cubic-bezier(0.23,1,0.32,1);
    }

    .modal-enter {
        @media (max-width: 600px) {
            animation-name: slideInUp;
        }

        @media (min-width: 600px) {
            animation-name: fadeIn;
        }
    }

    .modal-leave {
        animation-duration: .35s;

        @media (max-width: 600px) {
            animation-name: slideOutDown;
        }

        @media (min-width: 600px) {
            animation-name: fadeOut;
        }
    }
}