@import "../../styles/variables";
@import "../../styles/utilties";

@keyframes slideInUp {

    from {
        transform: translate3d(0, 100%, 0);
        visibility: visible;
    }

    to {
        transform: translate3d(0, 0, 0);
    }
}

@keyframes slideOutDown {
    from {
        transform: translate3d(0, 0, 0);
    }

    to {
        visibility: hidden;
        transform: translate3d(0, 100%, 0);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

#mount.hide {
    display: none;
}

.container,
.layover {
    @mixin fullscreen;
    position: fixed;
    animation-duration: .5s;
    animation-timing-function: $smooth-cubic-bezier;
    transform: translate3d(0, 0, 10px);
}

.container {
    z-index: 10;
    overflow: auto;
    background-color: white;
    -webkit-overflow-scrolling: touch;

    @media (max-width: 600px) {
        animation-name: slideInUp;
    }

    @media (min-width: 600px) {
        animation-name: fadeIn;
    }
}

.modal-leave .layover,
.modal-leave .container {
    animation-duration: .25s;
}

.modal-leave .layover {
    animation-name: fadeOut;
}

.modal-leave .container {
    @media (max-width: 600px) {
        animation-name: slideOutDown;
    }

    @media (min-width: 600px) {
        animation-name: fadeOut;
    }
}

.layover {
    z-index: 9;
    background-color: rgba(0, 0, 0, .7);
    animation-name: fadeIn;
}

.close {
    position: absolute;
    right: 0;
    top: 0;
    width: 4rem;
    height: 4rem;
    padding: 1rem;
    color: white;
    z-index: 10;

    &:active {
        background-color: rgba(0, 0, 0, 0.05);
        border-radius: 100%;
    }

    @media (min-width: 600px) {
        width: 3rem !important;
        height: 3rem !important;
    }
}