@import "../../styles/variables";
@import "../../styles/utilties";
@import "../../styles/animations.css";

.open {
    overflow: hidden;
}

.container,
.layover {
    @mixin fullscreen;
    position: fixed;
    animation-duration: .5s;
    animation-timing-function: $smooth-cubic-bezier;
}

.container {
    z-index: 10;
    background-color: white;
    text-align: left;

    @media (max-width: 600px) {
        animation-name: fadeInUp;
    }

    @media (min-width: 600px) {
        animation-name: fadeIn;
    }
}

.layover {
    z-index: 9;
    background-color: rgba(0, 0, 0, .7);
    animation-name: fadeIn;
}

.close {
    position: absolute;
    right: 0;
    top: 0;
    width: 4rem;
    height: 4rem;
    padding: 1rem;
    color: white;
    z-index: 10;

    &:before,
    &:after {
        content: "";
        width: 3px;
        height: 16px;
        border-radius: 1px;
        background-color: #333;
        position: absolute;
        left: 50%;
        top: 50%;
        transform-origin: 50% 50%;
        margin: -8px 0 00;
    }

    &:before {
        transform: rotate(45deg);
    }

    &:after {
        transform: rotate(-45deg);
    }

    &:active {
        background-color: rgba(0, 0, 0, 0.05);
        border-radius: 100%;
    }

    @media (min-width: 600px) {
        width: 3rem !important;
        height: 3rem !important;
    }

    & > span {
        @mixin visually-hidden;
    }
}

