@import '../../styles/section';
@import '../../styles/section-title';
@import '../../styles/variables';
@import '../../styles/animations.css';

.section {
    @mixin section;
}

.title {
    @mixin dark-section-title;
    margin-bottom: .5rem;
    opacity: 0;
    animation: tuckIn .5s $smooth-cubic-bezier forwards;
}

.projects {
    opacity: 0;
    animation: tuckIn .5s $smooth-cubic-bezier .25s forwards;
}
