@import '../../styles/section';
@import '../../styles/section-title';

.section {
    @include section;
    background-color: white;
    flex-shrink: 0;
}

.title {
    @include section-title;
    color: #424242;
    position: relative;
    text-align: center;
}