.testimonials-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.testimonial {
    width: 30%;
    box-sizing: border-box;
    padding: 0 1.5rem;
    text-align: left;
    margin-bottom: 4rem;
}

@media (max-width: 1200px) {
    .testimonial {
        width: 50%;
    }
}

@media only screen and (max-width: 600px) {
    .testimonial {
        width: 100%;
    }
}