@import '../../styles/variables';
@import '../../styles/section';
@import '../../styles/section-title';
@import '../../styles/secondary-heading';

.section {
    @include section;
    background: $dark-gray;
    color: #a3a3a3;
}

.title {
    @include section-title;
    margin-top: 0;
    color: #fff;
}

.introduction {
    @include secondary-heading;
    margin-bottom: 4rem;
    color: #fff;
}