@import '../../styles/variables';
@import '../../styles/animations.css';
@import '../../styles/section';
@import '../../styles/section-title';
@import '../../styles/secondary-heading';

.section {
    @mixin section $dark-gray;
    color: #a3a3a3;
    opacity: 0;
    animation: tuckIn .5s $smooth-cubic-bezier .8s forwards;
}

.title {
    @mixin white-section-title;
}

.introduction {
    @mixin secondary-heading;
    margin-bottom: 4rem;
    color: #fff;
}
