@import '../../styles/variables';
@import '../../styles/section';
@import '../../styles/section-title';
@import '../../styles/secondary-heading';

.section {
    @include section($dark-gray);
    color: #a3a3a3;
}

.title {
    @include section-title;
}

.introduction {
    @include secondary-heading;
    margin-bottom: 4rem;
    color: #fff;
}