@import '../../../styles/animations';
@import '../../../styles/variables';

.container {
    display: flex;
    align-items: flex-start;

    @media (max-width: 40rem) {
        flex-direction: column;
        margin-top: 0;
        align-items: stretch;
    }
}

.imageContainer {
    flex-shrink: 0;
    flex-grow: 0;
    margin-right: 4rem;
    width: 12rem;
    display: flex;
    min-height: 20rem;

    & > * {
        flex-grow: 1;
    }

    @media (max-width: 40rem) {
        order: 2;
        margin-top: 3rem;
        margin-right: 0;
        flex-grow: 1;
        width: auto;
        display: flex;
        justify-content: center;

        & > * {
            flex-grow: 0;
        }
    }

    @media (min-height: 40rem) {
        width: 18rem;
    }

    @media (min-height: 768px) {
        width: 25rem;
    }
}

.imageWrapper {
    position: relative;

    &:after {
        content: "";
        position: absolute;
        z-index: -2;
        bottom: -15px;
        left: 20px;
        right: 20px;
        height: 0;
        box-shadow: 0 1px 23px 4px rgba(0, 0, 0, .7);
        background-color: rgba(0, 0, 0, 0.7);
    }

    & img {
        width: 100%;

        @media (max-width: 40rem) {
            display: block;
            max-width: 20rem;
        }
    }
}

.infoContainer {
    max-width: $max-reading-width;
    margin-top: 2rem;
    flex-grow: 1;

    @media (max-width: 40rem) {
        margin-top: 1rem;
    }
}

.detailsList {
    overflow: hidden;
    line-height: 1;

    & dt,
    & dd {
        float: left;
        margin-top: 1rem;
    }

    & dt {
        font-weight: 700;
        margin-right: 1rem;
        clear: left;
        text-transform: uppercase;
    }

    & + .objective {
        margin-top: 2rem;
    }
}

.clientLogo {
    max-height: 3rem;
}