@import "../../styles/variables";
@import "../../styles/animations";
@import "../../styles/section-title";

$caseStudyMaxWidth: 960px;

.container {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
    display: flex;
    justify-content: center;
}

.wrapper {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    @media (max-width: 40rem) {
        padding: 0;
    }
}

.content {
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    flex-grow: 1;
    padding: 4.5rem;
}


.title {
    @mixin section-title $dark-gray;
    text-align: left;
    opacity: 0;
    flex-shrink: 0;
    min-height: 6.4rem;
    margin-bottom: 10px;
    animation: fadeIn 1s $smooth-cubic-bezier forwards;

    @media (max-width: 600px) {
        margin-bottom: 0;
    }
}

.main {
    flex-grow: 1;
    flex-shrink: 0;
    display: flex;

    & > * {
        animation: tuckIn .5s;
        flex-grow: 1;
    }
}

.nav {
    flex-shrink: 0;
}
