@import "../../styles/variables";
@import "../../styles/animations";
@import "../../styles/section-title";

$caseStudyMaxWidth: 960px;

.content {
    padding: 4.5rem 4.5rem 0;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
    display: flex;
    justify-content: center;

    @media (max-height: 600px) {
        padding-top: 4.5rem;
    }
}

.innerContainer {
    display: flex;
    flex-direction: column;
    max-width: 920px;
    flex-grow: 1;
    padding: 0 4rem;
}

.title {
    @include section-title($dark-gray);
    text-align: left;
    opacity: 0;

    :global(.modal-entered) & {
        animation: fadeIn 1s $smooth-cubic-bezier forwards;
    }
}

.container {
    flex-grow: 1;
    flex-shrink: 0;
    padding-bottom: 12rem;
    display: flex;
}